{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <h1>People</h1>

            {% for message in app.session.flashBag.get('success') %}

                <div class="alert alert-success">
                    <strong>Success!</strong> {{ message }}
                </div>

            {% endfor %}

            {% for message in app.session.flashBag.get('error') %}

                <div class="alert alert-warning">
                    <strong>Error!</strong> {{ message }}
                </div>

            {% endfor %}

            <ul class="list-group">

                {% for user in users %}

                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
                                <br />

                                <span class="badge">{{ count_thoughts(user) }} thoughs</span>
                                <span class="badge">32 friends</span>
                            </div>

                            <div class="col-md-4 text-right">

                                {% if not app.user.hasSentFriendshipRequestTo(user) %}

                                    <a href="{{ path('friendships.requests.store', {'id': user.id}) }}" class="btn btn-default">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        Add friend
                                    </a>

                                {% else %}

                                    <a href="" class="btn btn-default">
                                        <i class="glyphicon glyphicon-minus"></i>
                                        Cancel request
                                    </a>

                                {% endif %}


                            </div>
                        </div>

                    </li>

                {% endfor %}

            </ul>
        </div>

        <div class="col-md-6">

            <h1>Sent friendship requests</h1>

            <ul class="list-group">

                {% for request in app.user.sentFriendshipRequests %}

                    {% set user = request.toUser %}

                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
                                <br />

                                <span class="badge">{{ count_thoughts(user) }} thoughs</span>
                                <span class="badge">32 friends</span>
                            </div>

                            <div class="col-md-4 text-right">

                                {% if not app.user.hasSentFriendshipRequestTo(user) %}

                                    <a href="{{ path('friendships.requests.store', {'id': user.id}) }}" class="btn btn-default">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        Add friend
                                    </a>

                                {% else %}

                                    <a href="" class="btn btn-default">
                                        <i class="glyphicon glyphicon-minus"></i>
                                        Cancel request
                                    </a>

                                {% endif %}


                            </div>
                        </div>

                    </li>

                {% endfor %}

            </ul>

        </div>

    </div>

{% endblock %}
