{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <h1>People</h1>

            {% for message in app.session.flashBag.get('success') %}

                <div class="alert alert-success">
                    <strong>Success!</strong> {{ message }}
                </div>

            {% endfor %}

            {% for message in app.session.flashBag.get('error') %}

                <div class="alert alert-warning">
                    <strong>Error!</strong> {{ message }}
                </div>

            {% endfor %}

            <ul class="list-group">

                {% for user in users %}

                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
                                <br />

                                <span class="badge">{{ count_thoughts(user) }} thoughs</span>
                                <span class="badge">32 friends</span>
                            </div>

                            <div class="col-md-4 text-right">

                                {% if not user.equals(app.user) %}

                                    {% if not app.user.hasSentFriendshipRequestTo(user) %}

                                        {% if app.user.hasReceivedFriendshipRequestFrom(user) %}

                                            <a href="{{ path('friendships.requests.accept', {'id': user.id}) }}" class="btn btn-default">
                                                Accept
                                            </a>

                                            <a href="{{ path('friendships.requests.decline', {'id': user.id}) }}" class="btn btn-default">
                                                Decline
                                            </a>

                                        {% else %}

                                            <a href="{{ path('friendships.requests.store', {'id': user.id}) }}" class="btn btn-default">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                Add friend
                                            </a>

                                        {% endif %}

                                    {% else %}

                                        <a href="{{ path('friendships.requests.cancel', {'id': user.id}) }}" class="btn btn-default">
                                            <i class="glyphicon glyphicon-minus"></i>
                                            Cancel request
                                        </a>

                                    {% endif %}

                                {% endif %}

                            </div>
                        </div>

                    </li>

                {% endfor %}

            </ul>
        </div>

        <div class="col-md-6">

            <h1>Received friendship requests</h1>

            <ul class="list-group">

                {% for request in app.user.receivedFriendshipRequests %}

                    {% set user = request.fromUser %}

                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
                                <br />

                                <span class="badge">{{ count_thoughts(user) }} thoughs</span>
                                <span class="badge">32 friends</span>
                            </div>

                            <div class="col-md-4 text-right">

                                <a href="{{ path('friendships.requests.accept', {'id': user.id}) }}" class="btn btn-default">
                                    Accept
                                </a>

                                <a href="{{ path('friendships.requests.decline', {'id': user.id}) }}" class="btn btn-default">
                                    Decline
                                </a>

                            </div>
                        </div>

                    </li>

                {% else %}

                    <li>0 non-responded friendship requests found.</li>

                {% endfor %}

            </ul>

            <h1>Sent friendship requests</h1>

            <ul class="list-group">

                {% for request in app.user.sentFriendshipRequests %}

                    {% set user = request.toUser %}

                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
                                <br />

                                <span class="badge">{{ count_thoughts(user) }} thoughs</span>
                                <span class="badge">32 friends</span>
                            </div>

                            <div class="col-md-4 text-right">

                                <a href="{{ path('friendships.requests.cancel', {'id': user.id}) }}" class="btn btn-default">
                                    <i class="glyphicon glyphicon-minus"></i>
                                    Cancel request
                                </a>

                            </div>
                        </div>

                    </li>

                {% else %}

                    <li>You haven't sent any friendship requests.</li>

                {% endfor %}

            </ul>

        </div>

    </div>

{% endblock %}
