{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6">
            <h1>People</h1>

            <ul class="list-group">

                {% for user in users %}

                    <li class="list-group-item">

                        <div class="row">
                            <div class="col-md-8">
                                <strong>{{ user.name }}</strong> <small>{{ user.email }}</small>
                                <br />

                                <span class="badge">{{ count_thoughts(user) }} thoughs</span>
                                <span class="badge">32 friends</span>
                            </div>

                            <div class="col-md-4 text-right">

                                {% if not user.equals(app.user) %}

                                    {% if not app.user.hasSentFriendshipRequestTo(user) %}

                                        {% if app.user.hasReceivedFriendshipRequestFrom(user) %}

                                            <a href="{{ path('friendships.requests.accept', {'id': user.id}) }}" class="btn btn-default">
                                                Accept
                                            </a>

                                            <a href="{{ path('friendships.requests.decline', {'id': user.id}) }}" class="btn btn-default">
                                                Decline
                                            </a>

                                        {% else %}

                                            <a href="{{ path('friendships.requests.store', {'id': user.id}) }}" class="btn btn-default">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                Add friend
                                            </a>

                                        {% endif %}

                                    {% else %}

                                        <a href="{{ path('friendships.requests.cancel', {'id': user.id}) }}" class="btn btn-default">
                                            <i class="glyphicon glyphicon-minus"></i>
                                            Cancel request
                                        </a>

                                    {% endif %}

                                {% endif %}

                            </div>

                            <div class="row">
                                <div class="col-md-12">

                                    <p>Mutual friends: </p>

                                    {% set mf = mutual_friends(app.user, user) %}
                                    {% for friend in mf %}

                                        <strong>{{ friend.getName() }}</strong>

                                    {% endfor %}

                                </div>
                            </div>
                        </div>

                    </li>

                {% endfor %}

            </ul>
        </div>

    </div>

{% endblock %}
