{% extends 'base.html.twig' %}

{% block body %}

    <h1>Registration</h1>

    {{ form_start(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.city) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first, {
            'label': 'Password'
        }) }}
        {{ form_row(form.password.second, {
            'label': 'Repeat Password'
        }) }}

        <button type="submit" class="btn btn-primary" formnovalidate>Register</button>

    {{ form_end(form) }}

{% endblock %}