<div class="panel panel-default user-card">
    <div class="panel-heading">
        <span class="user-name">{{ user.name }}</span>

        <span class="pull-right">
            {% include 'users/partials/action-buttons.html.twig' %}
        </span>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-md-3">

                <img src="https://placehold.it/80x80" />

            </div>

            <div class="col-md-9">

               <div class="row">
                   <div class="col-md-12">
                       <span class="badge" data-type="email">{{ user.email }}</span>
                       <span class="badge">{{ count_thoughts(user) }} thoughts</span>
                       <span class="badge">{{ user.friends|length }} friends</span>
                       <span class="badge">{{ mutual_friends(app.user, user)|length }} mutual friends</span>
                   </div>
               </div>

                <div class="row">
                    <div class="col-md-12">

                        <div class="small mutual-friends-list" style="margin-top: 5px;">

                            {% set mf = mutual_friends(app.user, user) %}

                            {% if mf|length > 0 %}
                                <strong>Mutual Friends:</strong><br />

                                {% for friend in mf %}

                                    <span class="mutual-friend-name">{{ friend.getName() }}</span> {% if not loop.last %},{% endif %}

                                {% endfor %}
                            {% endif %}

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>