{% extends 'base.html.twig' %}

{% block body %}

    <h1>Thoughts</h1>

    {% for message in app.session.flashBag.get('success') %}

        <div class="alert alert-success">
            <strong>Success!</strong> {{ message }}
        </div>

    {% endfor %}

    <h2>Share a thought:</h2>

    {{ form_start(form) }}
        {{ form_row(form.content, {
            'label': ''
        }) }}

        <button type="submit" class="btn btn-default" formnovalidate>Submit</button>
    {{ form_end(form) }}

    <h2>Shared thoughts:</h2>

    {% for thought in pager.iterator %}

        <div class="thought">
            <small>
                by <strong>{{ thought.author.name }}</strong>
                on <strong>{{ thought.createdAt | date('d.m.Y H:i:s') }}</strong>
            </small>

            {% if is_granted('DELETE_THOUGHT', thought) %}

                <form action="{{ path('app.thoughts.delete', {'id': thought.id}) }}" method="post">
                    <button type="submit" class="btn btn-default btn-xs">delete</button>
                </form>

            {% endif %}

            <pre>{{ thought.content }}</pre>
        </div>

    {% endfor %}

    <div class="pagerfanta">
        {{ pagerfanta(pager, 'twitter_bootstrap3') }}
    </div>

{% endblock %}
