{% extends 'base.html.twig' %}

{% block body %}

    <h1>Movies</h1>

    <div class="row">

        <div class="col-md-3">

            <form method="get">

                <legend>Genres</legend>

                <div class="row" id="genres-list">

                    {% set g = 0 %}
                    {% for genre in genres %}

                    <div class="col-md-6">
                        <div class="checkbox" style="margin-top: 0">
                            <label><input type="checkbox" name="genre_{{ genre.id }}" value="1" {% if genre.id in selected_genres %}checked="checked"{% endif %} />{{ genre.title }}</label>
                        </div>
                    </div>

                    {% set g = g + 1 %}
                    {% if g == 2 %}
                    {% set g = 0 %}
                </div>
                <div class="row">
                    {% endif %}

                    {% endfor %}

                </div>

                <legend style="margin-top: 20px;">Years</legend>

                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="1000-3000" {% if selected_period == "1000-3000" %}checked{% endif %} /> All</label>
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="2010-2017" {% if selected_period == "2010-2017" %}checked{% endif %} /> 2010s</label>
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="2000-2009" {% if selected_period == "2000-2009" %}checked{% endif %} /> 2000s</label>
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="1990-1999" {% if selected_period == "1990-1999" %}checked{% endif %} /> 1990s</label><br />
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="1980-1989" {% if selected_period == "1980-1989" %}checked{% endif %} /> 1980s</label>
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="1970-1979" {% if selected_period == "1970-1979" %}checked{% endif %} /> 1970s</label>
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="1960-1969" {% if selected_period == "1960-1969" %}checked{% endif %} /> 1960s</label>
                <label class="radio-inline" style="margin-left: 3px;"><input type="radio" name="period" value="1950-1959" {% if selected_period == "1950-1959" %}checked{% endif %} /> 1950s</label>

                <legend style="margin-top: 20px;">Additional filters</legend>

                <input type="checkbox" checked /> Include movies I have watched

                <br /><br />
                <button type="submit" class="btn btn-success pull-right">Apply filters</button>


            </form>

        </div>

        <div class="col-md-9">

            <div class="row">
                <div class="col-md-6">
                    <p>Found <strong>{{ movies_list.countTotal }}</strong> results.</p>
                </div>
                <div class="col-md-6">
                    <form class="form-inline pull-right" style="margin-bottom: 10px;">
                        Order by
                        <select class="form-control" style="margin-left: 5px;">
                            <option>Name</option>
                            <option>Year</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="row">

                {% set m = 0 %}

                {% for movie in movies_list.results %}

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <img src="{{ asset('images/posters' ~ movie.poster) }}" width="100%"/>

                            <div style="margin-top: 5px;">
                                <strong>
                                    <span class="movie-title">{{ movie.title }}</span>
                                    <span class="movie-year text-muted small">({{ movie.year }})</span>
                                </strong>
                            </div>

                            <hr style="margin: 5px; padding: 0" />

                            <div>
                                {% for genre in movie.genres %}
                                    <span class="label label-info">{{ genre.title }}</span>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>

                {% set m = m + 1 %}
                {% if m == 4 %}
                {% set m = 0 %}
            </div>
            <div class="row">
                {% endif %}

                {% endfor %}

            </div>

            <div class="row">
                <div class="col-md-12 text-center">
                    {{ render_pagination(movies_list) | raw }}
                </div>
            </div>


        </div>

    </div>


{% endblock %}
