{% extends 'base.html.twig' %}

{% block body %}

    <h1>Communities</h1>

    <a href="{{ path('app.communities.create') }}" class="btn btn-default">Create community</a>

    {% for message in app.session.flashBag.get('success') %}

        <div class="alert alert-success">
            <strong>Success!</strong> {{ message }}
        </div>

    {% endfor %}

    {% for community in communities %}

        <div class="media">
            <div class="media-left">
                <a href="#">
                    {#<img class="media-object" src="..." alt="...">#}
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ community.name }}</h4>
                <small>
                    Created by <strong>{{ community.author.name }}</strong> on <strong>{{ community.createdAt | date('Y-m-d H:i:s') }}</strong>
                </small>
                <br />
                {{ community.description }}<br />

                {% if community.hasMember(app.user) %}

                    {#<a href="" class="btn btn-default">View</a>#}
                    <form action="{{ path('app.communities.leave', {'id': community.id}) }}" method="post">
                        <button type="submit" class="btn btn-default">Leave</button>
                    </form>

                {% else %}

                    <form action="{{ path('app.communities.join', {'id': community.id}) }}" method="post">
                        <button type="submit" class="btn btn-default">Join</button>
                    </form>

                {% endif %}

            </div>
        </div>

    {% endfor %}

{% endblock %}